.google_map_area {
  // position: absolute;
  // top: 120px;
  // // left: 280px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  background-color: lighten($Primary, 20%);
  margin: 0;
  position: relative;
  // top: 10%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  // width: 500px;
  // height: 450px;
}
.google_map {
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}
#map {
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 450px;
  background-color: white;
}

.gMapInner svg {
  color: aqua;
}

.map_btn {
  position: absolute;
  right: 140px;
  top: 600px;
  width: 100px;
  height: 30px;
  margin-top: 100px;
  border-radius: 10px;
  background-color: lighten($Primary, 19%);
  border: 3px solid lighten($Primary, 5%);
  font-size: $font-large;
}

.map_btn:focus {
  background-color: darken($Primary, 8%);
}

.map_btn:hover {
  background-color: darken($Primary, 8%);
}

.fa-w-13 {
  width: 10px;
  height: 10px;
}
